.custom_form {
    max-width: 500px;
}

.custom_form label {
    display: block;
}

.custom_result {
    line-height: 12px;
    margin: 10px 0px;
}
.custom_result p {
    margin: 4px 0 4px;
}

.custom_result_error,
.CF_form_error.form-text {
    color: red;
}
.form_input.error,
input[type=checkbox].error {
    border-color:red;
}

.custom_result_success {
    color: green;
}
